{% extends "base.html.twig" %}
{% block title %}Accueil - {{parent()}}{% endblock %}

{% block content %}
{% include "parts/banniere.html.twig" %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Bienvenu sur mon blog</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            {% for flashMessage in app.flashes('info') %}
            <div class="alert alert-info">
                {{flashMessage}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% for article in articles %}
    {% if loop.length >= 2 %}
        {% if loop.index == 1 %}
            <div class="container">
                <div class="row" style="height:300px;">
                    <div class="col col-12 col-sm-7 col-md-9" style="color:white;">
                        <div class="h-75 article-card  image-card" style="background: url('https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
                            <h2 class="pl-2 align-text-bottom"><a href="" style="color:white">Titre</a></h2>
                            <span class="date pl-2 align-text-bottom">14/01/2020</span>
                        </div>
                    </div>
        {% elseif loop.index == 2 %}
                    <div class="col col-12 col-sm-5 col-md-3" style="color:white">
                        <div class="h-75 article-card  image-card" style="background: url('https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
                            <h2 class="pl-2 align-text-bottom"><a href="" style="color:white">Titre</a></h2>
                            <span class="date pl-2 align-text-bottom">14/01/2020</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}


        

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-3">
            <div class="article-card">
                <img src="https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid">
                <h2><a href="">Another Title</a></h2>
                <span class="date">14/01/2019</span>
            </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-3">
            <div class="article-card">
                <img src="https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid">
                <h2><a href="">Another Title</a></h2>
                <span class="date">14/01/2019</span>
            </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-3">
            <div class="article-card">
                <img src="https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid">
                <h2><a href="">Another Title</a></h2>
                <span class="date">14/01/2019</span>
            </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-3">
            <div class="article-card">
                <img src="https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid">
                <h2><a href="">Another Title</a></h2>
                <span class="date">14/01/2019</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

