{% extends "base.html.twig" %}


{% block title %}{{ url|replace({'-':' '}) }} | {{parent()}}{% endblock %}

{% block content %}
    <article class="container">
        <div class="row">
            <div class="col col-12">
                <h2 class="text-center">{{ url|replace({'-':' '})|upper }}</h2>
                <span class="text-center d-block">14/01/2022</span>
                <p>
					<img src="https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid">
				</p>
                <span class="categories text-center d-block font-weight-bold text-uppercase">Catégories : php,html,css</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, ducimus nulla. Incidunt tempore libero eligendi iusto repudiandae alias labore quo a. Vel corporis tenetur aperiam beatae fuga voluptate iste excepturi.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, ducimus nulla. Incidunt tempore libero eligendi iusto repudiandae alias labore quo a. Vel corporis tenetur aperiam beatae fuga voluptate iste excepturi.
                </p>
            </div>
        </div>
    </article>
{% endblock %}